<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap-clearmin.min.css">
  <link rel="stylesheet" type="text/css" href="~/Content/assets/css/roboto.css">
  <link rel="stylesheet" type="text/css" href="~/Content/assets/css/material-design.css">
  <link rel="stylesheet" type="text/css" href="~/Content/assets/css/small-n-flat.css">
  <link rel="stylesheet" type="text/css" href="~/Content/assets/css/font-awesome.min.css">
  <title>@Page.Title</title>
  @RenderSection("head", required: false)
</head>
<body class="cm-no-transition cm-1-navbar">
  <div id="cm-menu">
    <nav class="cm-navbar cm-navbar-purple">
      <div class="cm-flex"><div style="line-height:50px;font-size:17px;padding-left:20px;text-align:center;"><img src="~/Content/assets/img/sf/keyring.svg" />&nbsp收租宝</div></div>
      <div class="btn btn-purple md-menu-white" data-toggle="cm-menu"></div>
    </nav>
    <div id="cm-menu-content">
      <div id="cm-menu-items-wrapper">
        <div id="cm-menu-scroller">
          <ul class="cm-menu-items">
            <li class=""><a href="/Admin/Index" class="sf-house">Home</a></li>
            @if (Session["power"] == null)
            {
              <li class="cm-submenu">
                <a class="sf-building">小区管理<span class="caret"></span></a>
                <ul>
                  <li><a href="/Admin/RoomIndex">小区基本信息</a></li>
                  @*<li><a href="layouts-breadcrumb2.html">2nd nav breadcrumb</a></li>
          <li><a href="layouts-tabs.html">2nd nav tabs</a></li>*@
                </ul>
            
              </li>
            }
              <li><a href="/Tenant/ByThemselves" class="sf-money">租金缴纳</a></li>
                      @if (Session["power"] == null)
                      {
                        <li>
                          <a class="sf-profile-group" href="/Tenant/Index">人员管理</a>
                        </li>
                        <li class="cm-submenu">
                          <a class="sf-cog">系统管理<span class="caret"></span></a>
                          <ul>
                            <li><a href="/System/Index">系统代码维护</a></li>
                            <li><a href="/System/AdminList">编辑管理员</a></li>
                          </ul>
                        </li>
                        <li><a href="/Announcement/Index" class="sf-notepad">通知管理</a></li>
                      }
                        <li><a href="/Login/Index" class="sf-lock-open">退出登录</a></li>
                      </ul>
        </div>
      </div>
    </div>
  </div>
  <header id="cm-header">
    <nav class="cm-navbar cm-navbar-purple">
      <div class="btn btn-purple md-menu-white hidden-md hidden-lg" data-toggle="cm-menu"></div>
      <div class="cm-flex">
        <h1>EASYRENT</h1>
        <form id="cm-search" action="index.html" method="get">
          <input type="search" name="q" autocomplete="off" placeholder="Search...">
        </form>
      </div>
      <div class="pull-right">
        <div id="cm-search-btn" class="btn btn-purple md-search-white" data-toggle="cm-search"></div>
      </div>
      <div class="dropdown pull-right">
        <button class="btn btn-purple md-notifications-white" data-toggle="dropdown"> <span class="label label-danger">23</span> </button>
        <div class="popover cm-popover bottom">
          <div class="arrow"></div>
          <div class="popover-content">
            <div class="list-group">
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading text-overflow">
                  <i class="fa fa-fw fa-envelope"></i> Nunc volutpat aliquet magna.
                </h4>
                <p class="list-group-item-text text-overflow">Pellentesque tincidunt mollis scelerisque. Praesent vel blandit quam.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                  <i class="fa fa-fw fa-envelope"></i> Aliquam orci lectus
                </h4>
                <p class="list-group-item-text">Donec quis arcu non risus sagittis</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">
                  <i class="fa fa-fw fa-warning"></i> Holy guacamole !
                </h4>
                <p class="list-group-item-text">Best check yo self, you're not looking too good.</p>
              </a>
            </div>
            <div style="padding:10px"><a class="btn btn-success btn-block" href="#">Show me more...</a></div>
          </div>
        </div>
      </div>
      <div class="dropdown pull-right">
        <button class="btn btn-purple md-account-circle-white" data-toggle="dropdown"></button>
        <ul class="dropdown-menu">
          <li class="disabled text-center">
            <a style="cursor:default;"><strong>@Session["nickname"]</strong></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-fw fa-cog"></i> Settings</a>
          </li>
          <li>
            <a href="/Login/logout"><i class="fa fa-fw fa-sign-out"></i> Sign out</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- 主体区域替换 -->
  <div id="global">
      @RenderBody()
    </div>
    <!-- 主体区域替换结束 -->
    <script src="~/Content/assets/js/lib/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.mousewheel.min.js"></script>
    <script src="~/Content/assets/js/jquery.cookie.min.js"></script>
    <script src="~/Content/assets/js/fastclick.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/clearmin.min.js"></script>
    <script src="~/Content/assets/js/demo/home.js"></script>
</body>
</html>
